@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@layer components {
  .transition-state {
    @apply transition-all ease-in-out duration-200;
  }

  .info-container {
    @apply p-4 mx-auto bg-gray-100;
  }

  form.info-container {
    @apply sm:max-w-4/5 md:max-w-3/5;
  }

  .field-container {
    @apply p-2 my-2;
  }

  .field-container p {
    @apply p-2;
  }

  .title {
    @apply font-extrabold text-2xl flex gap-2 items-center;
  }
  .group-control {
    @apply sm:flex sm:gap-10;
  }
  .group-control .control:not(.flex-grow-0),
  .group-control .control:not(.checkbox) {
    @apply flex-auto;
  }

  .group-control legend,
  .field-container h3 {
    @apply font-bold;
  }

  .control > * {
    @apply block;
  }

  .control label .label-title {
    @apply my-2 text-sm italic text-gray-800;
  }

  .control input {
    @apply w-full;
  }

  .control input,
  .group-control select {
    @apply px-4 py-1 border border-solid border-blue-100 rounded shadow-sm transition-state bg-white
      focus:outline-none focus:ring-2 focus:ring-blue-900 focus:border-transparent
    hover:border-blue-400;
  }

  .group-control select {
    @apply my-2;
  }

  .btn-form-group {
    @apply w-min flex gap-2 ml-auto;
  }

  .btn-form {
    @apply my-2 px-4  py-1 rounded-md border border-solid shadow-md font-bold;
  }

  .btn-cancel {
    @apply text-red-900 border-red-900
            hover:text-white hover:bg-red-900 hover:border-black;
  }

  .btn-submit {
    @apply border-black text-white bg-indigo-500
          hover:text-indigo-500 hover:bg-white hover:border-indigo-500;
  }

  .btn {
    @apply text-base;
  }

  .btn-edit {
    @apply text-green-400 hover:text-green-600;
  }

  .btn-delete {
    @apply text-red-700 hover:text-red-900;
  }

  .btn > * {
    @apply p-1;
  }
}
